/*.dottext{
 visibility:hidden;
 position:absolute;
 color:white;
 top:500px;
 left:1200px;
 padding:5px 10px 5px 10px;
 font-size:24px;
 background-color:rgba(0, 0, 0, 0.7);
 border-radius:10px;
}
.cls-1
{
fill:rgba(56, 54, 54, 0.397);
stroke:rgb(199, 186, 186);
stroke-width:4;
stroke-miterlimit:10;
cursor: pointer;
}

.navigation{
content:"";
position:absolute;
float:left;
width: 100%;
clear:both;
display:table;
z-index:1;
}*/

.button1{background-color:#a6a6a6;
 color:white;
 padding:10px 10px;
 font-size:24px;
 text-align:center;
 cursor:pointer;
 float:left;
 border:none; 
 }
 
 .register_text{
    position: fixed;
    top:2%;
	right:2%;
	z-index:1;
	border-style: solid;
	border-color:rgb(219, 36, 106);
	border-width:0.5px;
	border-radius: 20px;
	padding:10px;
	background-color: transparent;
	cursor:pointer;
	color:white;
	font-size:18px;
	text-decoration:none;
	font-family:'MS Sans Serif';
	}

.icons_div i:hover {
    color: white;
}
 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	display:inline-block;
    position: relative;
    top: 25%; /* 25% from the top */
    left:40%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
/* Position the close button (top left corner) */
 .overlay .closebtn {
    position: absolute;
    left:25px;
    top:250px;
    font-size:60px;
    border-style: solid;
		border-radius: 500px;
		border-color:rgb(219, 36, 106);
		border-width: 0.5px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 767px) and (orientation:portrait) {
    .overlay a {
        font-size: 30px;        
    }
    .overlay .closebtn {
        font-size: 60px;
        top: 0px;
		left: 0px;
        border:none;
        border-radius:0px;
        padding:0px;
        
    }
    .overlay-content {
        display:inline-block;
        position: relative;
        top: 25%; /* 25% from the top */
        left:23%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
}  
@media screen and (max-width: 767px) and (orientation:landscape){
    .overlay .closebtn {
        font-size: 60px;
        top: 0px;
		left: 0px;
        border:none;
        border-radius:0px;
        padding:0px;
        
    }
    .overlay-content {
        display:inline-block;
        position: relative;
        top: 25%; /* 25% from the top */
        left:33%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
}

/* Change the color of links on hover */

.footer{
    content:"";
    width: 100%;
    clear:both;
    background-color: rgb(233, 233, 233);
   height:350px;
}
.icons{
    float:left;
    margin-right:13px;
    border-style:none;
    border-radius:5px;
    color:black;
    cursor:pointer;
   }
   .icons_div{
    position:relative;
    display:inline-block;
    top:40%;
    left:25%;
    font-size:42px;
   }